* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
  margin: 0px;
}

aside {
  width: 14%;
  background-color: #354052;
  display: inline-block;
  float: left;
  min-height: 1570px;
  color: #A4AFC1;
}

main {
  width: 86%;
  float: right;
  background-color: #EDF2F6;
  padding-bottom: 40px;
}

.user-pic {
  background-image: url("images/albert_einstein_head.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  background-size: cover;
  border-radius: 50%;
  margin: 20px auto;
}

.user-name {
  text-align: center;
  padding-left: 25px;
  display: inline-block;
  margin: 0 0 20px 0;
}

.down-arrow {
  background-image: url("images/arrow-down.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
}

.aside-main-header {
  padding-top: 20px;
  border-top: 1px solid #262626;
}

aside ul {
  list-style-type: none;
  padding: 0px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.header-main ul {
  list-style-type: none;
  padding: 0px;
  margin: 40px 0 0 0;
}

h5 {
  margin: 0px;
  padding-left: 10px;
  color: #546175;
}

aside li {
  padding: 10px 0 10px 11px;
  font-size: 12px;
  font-weight: 700;
}

aside li:hover {
  background-color: #30394A;
  border-left: 2px solid #17A3F7;
  padding-left: 9px;
  color: #FFFFFF;
}

.last-li {
  padding-bottom: 40px;
  border-bottom: 1px solid #262626;
}

.checkbox-li {
  margin-bottom: 20px;
}


nav {
  display: flex;
  flex-wrap: nowrap;
}

.nav-button {
  height:60px;
  min-width: 60px;
  background-color: #FFFFFF;
  border-color: grey;
  padding: 0px;
  border-style: solid;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-button:hover {
  background-color: #18A3FC;
}

.hamburger-menu-button {
  padding: 2px;
  display: flex;
  border-width: 0 1px 1px 0;
  background-image: url("images/menu-4-48.png");
}

.hamburger-menu-button:hover {
  background-image: url('images/menu-4-48W.png');
}

.search-bar {
  height: 60px;
  width: 100%;
  border-width: 0 0 1px 0;
  border-color: grey;
  border-style: solid;
  padding-left: 10px;
}

.new-user-button {
  border-width: 0 1px 1px 1px;
  background-image: url("images/add-user-48.png");
}

.new-user-button:hover {
  background-image: url("images/add-user-48-F.png")
}


.calendar-button {
  border-width: 0 1px 1px 0;
  background-image: url("images/calendar-10-48.png");
}

.calendar-button:hover {
  background-image: url("images/calendar-10-48W.png")
}

.grid-button {
  border-width: 0 0 1px 0;
  background-image: url("images/grid-three-up-48.png");
}

.grid-button:hover {
  background-image: url("images/grid-three-up-48W.png")
}

.header-main {
  padding: 60px 0 0px 40px;
  background-color: #FFFFFF;
}

h1 {
  margin: 0 0 0 0;
  font-size: 24px;
  font-weight: 400;
}

h6 {
  margin: 0px;
  font-size: 12px;
  font-weight: 400;
}

.preview-post {
  color: #17a3f7;
}

.preview-post:hover {
  border-bottom: 2px solid #17a3f7;
}



.main-btns-area {
  display: inline-flex;
  float: right;
  position: absolute;
  margin-right: 20px;
  justify-content: space-between;
  width: 260px;
  right: 10px;
  top: 120px;
}

.open-button {
  background-color: #FFFFFF;
  border: 1px solid #9A9EAA;
  border-radius: 50px;
  height: 45px;
  padding: 0 0 0 20px;
  width: 100px;
  margin: 0px;
  background-image: url('images/circle-16.png');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 10px 12px;
  font-weight: 700;
  color: #9A9EAA;
}

.open-button:hover {
  color: #FFFFFF;
  background-color: #17a3f7;
}

.circle-btn {
  background-color: #FFFFFF;
  border: 1px solid grey;
  border-radius: 50%;
  height: 45px;
  padding: 0px;
  width: 45px;
  background-position: center;
  background-repeat: no-repeat;
}

.circle-btn:hover {
  background-color: #17a3f7;
}

.bookmark-button {
  background-image: url('images/bookmark-5-16.png');
}

.bookmark-button:hover {
  background-image: url('images/bookmark-5-16W.png')
}

.edit-button {
  background-image: url('images/pencil-2-16.png');
}

.edit-button:hover {
  background-image: url('images/pencil-2-16W.png');
}

.trash-button {
  background-image: url('images/trash-2-16.png');
}

.trash-button:hover {
  background-image: url('images/trash-2-16W.png');
}

.header-main li {
  display: inline-block;
  font-size: 14px;
  margin-right: 30px;
  padding-bottom: 20px;

}

.header-main li:hover {
  border-bottom: 4px solid #17a3f7;
  padding-bottom: 16px;
}

.graphs-container {
  padding: 20px 40px 20px 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.pie-graph-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 20px;
}

.pie-graph {
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  height: 170px;
  width: 170px;
  padding-top: 20px;;
  margin: 10px 0 0 10px;
  border-width: 10px;
  border-style:  solid;
}

.applicants-pie-graph {
  border-color: #3DBCB9 #DBE4ED #3DBCB9 #3DBCB9;
}

.interviews-pie-graph {
  border-color: #DBE4ED #DBE4ED #159DEF #159DEF;
}

.forwards-pie-graph {
  border-color:  #DBE4ED #DBE4ED #AE6AB0 #DBE4ED ;
}

.pie-graph-number {
  font-size: 40px;
}

.bar-graph-image {
  display: inline-block;
  background-image: url("images/bar-chart.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 450px;
  height: 189px;
  vertical-align: middle;
  float: right;
  margin-bottom: 20px;
}

.bar-graph-label,
.totals-label {
  border: 2px solid #E6EDF5;
  border-radius: 50px;
  padding: 0;
  background-color: #FFFFFF;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px auto 20px auto;
}

.totals-label {
  width: 260px;
}

.bar-graph-label {
  width: 200px;
}

.line-divider {
  /*width: 96%;*/
  height: 2px;
  border: 1px solid #AAAEB8;
  margin: 0 40px 40px 40px;
}

table {
  width: 60%;
  display: inline-block;
  background-color: #FFFFFF;
  color: #6F7E95;
  border-collapse: collapse;
  margin: 20px 0 20px 40px;
}

th {
  background-color: #6F7E95;
  color: #FFFFFF;
  font-size: 14px;
}

tr th {
  padding: 20px 0;
}

tr {
  border-bottom: 1px solid grey;
}

td {
  padding: 40px 20px;
  font-size: 14px;
  min-width: 180px;
}



.external-navigation {
  width: 27%;
  float: right;
  margin-right: 40px;
}

.external-navigation p {
color: #6F7E95;
line-height: 1.4;
}


h3 {
  display: inline-block;
  margin: 40px 0 0 0;
  padding-top: 40px;
  border-top: 2px solid lightgrey;
  font-size: 22px;
  color: #354052;
}

h3:first-of-type {
  border-top: none;
  margin: 0;
}

.social-media-button {
  color: #FFFFFF;
  border: none;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
}

.facebook-button {
  background-color: #506ECB;
  margin-top: 20px;
}

.twitter-button {
  background-color: #01ADF5;
}

.linkedin-button {
  background-color: #0381BC;
}

.copy-button {
  background-color: #46BBBD;
  color: #FFFFFF;
  border: none;
  margin: 0 0 0 -4px;
  padding: 0 10px;
  height: 40px;
  width: 60px;
}

.email-resume-input {
  width: 100%;
  color: grey;
  font-size: 12px;
  height: 40px;
  border: none;
  color: #6F7E95;
  padding: 0 0 0 10px;
  font-size: 15px;
}

.copy-input{
  margin: 0 0 10px 0;
  height: 40px;
  padding: 0 0 0 10px;
  border: none;
  border-collapse: collapse;
  min-width: 230px;
  color: #6F7E95;
  font-size: 15px;
}
