* {
  box-sizing: border-box;
}

body {
  width: 100%;
}

aside {
  width: 20%;
  background-color: #354052;
  display: inline-block;
  float: left;
  min-height: 700px;
}

main {
  width: 80%;
  float: right;
}
